<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employeeService" class="cn.org.aris.java.enterprisespring.chap2.autodetect.EmployeeSevice">
		<!-- <property name="employee" ref="employee"></property> -->
		<constructor-arg name="employee" ref="employeeBean"></constructor-arg>
	</bean>
	
	<bean id="employeeBean" class="cn.org.aris.java.enterprisespring.chap2.autodetect.Employee">
		<property name="employeeId" value="1065"></property>
	</bean>
</beans>
