<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="indianEmployee" class="cn.org.aris.java.enterprisespring.chap2.beaninheritance.Employee" abstract="true">
	</bean>

	<bean id="employeeBean" parent="indianEmployee">
		<property name="employeeId" value="1065"></property>
		<property name="employeeName" value="Aris Hu"></property>
	</bean>
</beans>
